*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif; }

.heading__primary {
  color: #292d34;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.4; }

.btn__primary {
  display: inline-block;
  margin: 1rem;
  background-color: #A45EE7;
  box-shadow: 0.3rem 0.4rem 3rem rgba(41, 45, 52, 0.3);
  padding: 1rem 2rem;
  border-radius: 8px;
  color: #fff;
  transition: all .5s ease; }
  .btn__primary:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px; }
  .btn__primary--hover-purple {
    background-color: #A45EE7; }
  .btn__primary--hover {
    background-color: #fff;
    color: #c0539e;
    width: 7rem;
    text-align: center; }
    .btn__primary--hover:hover {
      background-color: #7b68ee;
      color: #fff;
      border-radius: 8px; }

.btn__secondary {
  display: inline-block;
  background-color: #7b68ee;
  box-shadow: 0.3rem 0.5rem 4rem rgba(41, 45, 52, 0.3);
  padding: 1.5rem 2.5rem;
  border-radius: 8px;
  color: #fff;
  transition: all .3s ease; }
  .btn__secondary:hover {
    background-color: #5c4dbc;
    border: #5c4dbc; }

.btn__text {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize; }

.heading-form #input-email {
  width: 33rem;
  padding: 2.1rem;
  border-radius: 6px;
  outline: 0px;
  border: 1px solid rgba(185, 190, 199, 0.6);
  color: #292d34;
  box-shadow: 0 1.9rem 2.5rem #0a0a330a;
  transition: all .2s ease; }
  .heading-form #input-email:hover {
    box-shadow: 0 1.9rem 2.5rem #0a0a331c; }
  .heading-form #input-email::placeholder {
    color: rgba(185, 190, 199, 0.6);
    font-size: 1.5rem;
    font-weight: 500; }

.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 2rem 0rem; }

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%; }

.nav-logo {
  align-self: flex-start;
  width: 15rem;
  height: 10rem;
  margin-right: 10rem; }
  .nav-logo__image {
    width: 15rem;
    height: 10rem; }

.nav-middle {
  margin-left: 15rem; }

.nav-links {
  display: flex;
  justify-content: space-between; }
  .nav-links li {
    list-style: none;
    font-weight: 600; }
    .nav-links li:first-of-type {
      padding-left: 5rem; }
  .nav-links__item {
    color: #fff;
    padding: .8rem 1.5rem; }
    .nav-links__item:hover {
      background: white;
      color: #292d34;
      border-radius: 8px; }

.header {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: white;
  overflow-x: hidden; }

.header::before {
  content: '';
  position: absolute;
  height: 120rem;
  width: 140rem;
  top: 47%;
  left: 50%;
  transform: translate(-14%, -73%);
  background-image: url("https://clickup.com/landing/images/main/bg_gradient__main-header.svg");
  background-size: cover;
  background-repeat: no-repeat; }

.wrapper {
  position: relative;
  top: 15%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 135rem;
  min-height: 40rem; }

.header-text {
  padding-top: 4rem;
  padding-left: 5rem;
  width: 49rem; }

.heading__text {
  color: #292d34;
  font-size: 1.4rem;
  margin: 1.5rem 0 3rem; }

.heading-button {
  display: flex;
  margin-top: 2rem;
  align-items: center; }

.header-photo {
  margin-top: -2rem;
  margin-left: -10rem;
  width: 85rem;
  height: 60rem; }
  .header-photo__photo {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: -4rem; }

.btn__caption {
  font-size: 1.3rem;
  margin-left: 2rem;
  color: #46434399;
  text-transform: uppercase;
  font-weight: 800; }

.ratings {
  font-size: 1.2rem;
  color: #46434399;
  font-weight: 500; }

.ratings span {
  font-size: 1.4rem;
  color: #F8BD36; }

.ratings-wrapper {
  margin-top: 4rem; }

.ratings__icon {
  width: 1.5rem;
  height: 1.5rem; }

.ratings-brands {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  margin-top: 2rem; }
