*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 1.6rem;
  color: #292d34;
  overflow-x: hidden; }

.heading__primary {
  color: #292d34;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.4; }
  .heading__primary--center {
    text-align: center; }

.heading__secondary {
  font-size: 1.4rem;
  color: #828792;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center; }

.hidden {
  display: none !important;
  transform: translateX(0rem) !important; }

.margin-lg {
  margin-bottom: 4rem !important; }

.brand-wrapper {
  display: flex;
  padding: 5rem 3rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-color: rgba(238, 236, 238, 0.352);
  border-radius: 1rem; }

.brand-logo {
  margin: 2rem 4rem 2rem 2rem;
  flex-basis: 12rem;
  align-self: center; }
  .brand-logo__logo {
    width: 100%;
    height: 100%; }

.btn__primary {
  background-color: #fd71af;
  border-radius: 1rem;
  padding: 1.8rem 3.5rem; }
  .btn__primary--purple {
    background-color: rgba(194, 151, 244, 0.786); }
  .btn__primary--green {
    background-color: #00b884; }

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem;
  margin-top: 2rem;
  padding-top: 2rem;
  background-color: rgba(246, 220, 246, 0.393);
  border-radius: 1rem;
  margin: 2rem auto;
  min-height: 30rem; }
  .card-wrapper--purple {
    background-color: rgba(194, 151, 244, 0.16); }
  .card-wrapper--green {
    background-color: rgba(230, 248, 243, 0.6); }

.card-top {
  width: 100%; }
  .card-top__img {
    width: 100%;
    height: 100%; }

.card-bottom {
  font-size: 1.4rem; }
  .card-bottom__text {
    margin: 2rem 0;
    font-weight: 600; }
    .card-bottom__text--normal {
      font-weight: 400; }
  .card-bottom__subheading {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .card-bottom__replace {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem; }
  .card-bottom a {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    font-size: 1.5rem; }

.card-bottom-content a {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  font-size: 1.5rem; }

.email-input {
  margin-top: 2.5rem; }

#email {
  width: 100%;
  padding: 1.8rem 0;
  display: block;
  border: 1px solid #b9bec799;
  border-radius: 4px;
  transition: box-shadow 0.1s ease; }
  #email::placeholder {
    color: #252323;
    font-size: 1.6rem;
    padding-left: 2rem;
    font-weight: 500; }
  #email:hover {
    box-shadow: 1px 1.5rem 2rem #b9bec799; }

.form-cta {
  margin-top: 1.5rem; }

.submit {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem; }

.submit__btn {
  padding: 1.5rem 2.8rem;
  border-radius: 1rem;
  font-weight: 800;
  border: 0;
  color: #fff;
  background-color: #7b68ee;
  box-shadow: 1rem 1rem 5rem rgba(123, 104, 238, 0.5);
  transition: all 0.2s ease;
  font-size: 1.6rem;
  cursor: pointer; }
  .submit__btn:hover {
    background-color: #5c4dbc; }
  .submit__btn:hover {
    background-color: #5c4dbc; }

.cta__text {
  flex-basis: 12rem;
  font-weight: 800;
  margin-left: 2rem;
  color: #b9bec799;
  font-size: 1.4rem;
  text-transform: uppercase;
  align-items: center;
  margin-top: 1rem; }

/*nav as it is*/
.nav-bar {
  position: fixed;
  width: 100%;
  height: 8rem;
  background-color: transparent;
  box-shadow: 0 0 2rem #b9bec799;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  overflow: hidden; }

.nav-logo {
  width: 15rem;
  height: 15rem;
  align-self: center;
  position: relative;
  top: 2.5rem; }
  .nav-logo__image {
    width: 100%;
    height: 100%; }

.nav-icon {
  margin-right: 2rem;
  width: 4rem;
  height: 3rem; }
  .nav-icon__icon {
    width: 100%;
    height: 100%; }
    .nav-icon__icon:hover {
      cursor: pointer; }

/************** 
    Nav functionality
************/
.nav-dropdown-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px) saturate(70%); }

.nav-dropdown {
  width: 100%;
  height: 75vh;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0; }

.nav-dropdown-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.nav-dropdown-logo {
  flex-basis: 15rem;
  height: 10rem;
  margin-left: 1rem; }
  .nav-dropdown-logo__logo {
    width: 100%;
    height: 100%; }

.nav-dropdown-cancel {
  height: 3rem;
  width: 2rem;
  align-self: center;
  margin-right: 2.5rem; }
  .nav-dropdown-cancel__icon {
    height: 100%;
    width: 100%; }
    .nav-dropdown-cancel__icon:hover {
      cursor: pointer; }

.nav-links {
  text-transform: capitalize;
  font-weight: 700;
  margin-left: 2.5rem; }

.nav-links-list {
  list-style: none;
  font-size: 2rem; }

.list-items:not(:last-of-type) {
  margin-bottom: 3rem; }

.list-items__links {
  color: #292d34; }

.cta {
  margin-left: 2.5rem;
  margin-right: 2rem;
  margin-top: 1.5rem; }
  .cta__signup, .cta__login {
    display: block;
    text-align: center;
    padding: 1.4rem 0;
    border-radius: 1rem;
    font-weight: 800;
    border: 0; }
  .cta__signup {
    color: #fff;
    background-color: #7b68ee;
    box-shadow: 1px 1px 5px rgba(41, 45, 52, 0.5);
    transition: all 0.2s ease; }
    .cta__signup:hover {
      background-color: #5c4dbc; }
  .cta__login {
    margin-top: 1.5rem;
    background-color: #b9bec799;
    cursor: progress; }

.blob-container {
  position: absolute;
  top: -54rem;
  width: 100%;
  height: 100rem;
  z-index: -1;
  overflow: hidden; }

.blob {
  width: 100%;
  height: 100rem;
  background-image: url("https://clickup.com/landing/images/home-header-bg.jpg");
  position: absolute;
  left: 10rem;
  background-repeat: no-repeat; }

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column; }

.header-top,
.header-bottom {
  flex-basis: 100%;
  min-height: 30rem; }

.header-top {
  margin-top: 9rem; }

.header-image {
  width: 90%;
  height: 50%;
  margin-left: 2.5rem; }
  .header-image__image {
    width: 100%;
    height: 100%; }

.header-bottom {
  padding: 0 2rem; }
  .header-bottom > p {
    font-size: 14px;
    margin-top: 1rem; }

.ratings {
  margin-top: 3rem;
  height: 4rem; }

.ratings-star {
  color: #828792;
  font-size: 1.2rem;
  font-weight: 600; }
  .ratings-star__icon {
    width: 1.6rem; }
  .ratings-star__text {
    display: inline-block;
    margin-left: 1rem; }

.ratings-logo {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem; }
  .ratings-logo__logo {
    display: block;
    width: 7rem;
    margin-right: 1rem; }

.section-brands {
  margin: 4rem 2rem 2rem; }

.section-goals {
  margin: 4rem 2rem 2rem; }

.section-whiteboards {
  margin: 4rem 2rem 2rem; }

.section-customize {
  margin: 4rem 2rem 2rem; }
