// Colors
$color-black: #292d34;
$color-white: #fff;
$color-pink: #c0539e;
$color-purple: #7b68ee;
$color-purple-light: #A45EE7;
$color-grey: rgba(185, 190, 199, .6);

// Background colors
$bg-color-purple: #7b68ee;
$bg-color-purple-dark: #5c4dbc;

// Fonts
$default-font-size: 1.5rem;