.header {
    height: 100vh;
    overflow-x: hidden;
    // background: r
}

.blob {
    // display: inline-block;
    position: relative;
    bottom: 131rem;
    right: -10rem;
    width: 100%;
    height: 100rem;
    background-image: url('https://clickup.com/landing/images/home-header-bg.jpg');
    background-repeat: no-repeat;
    z-index: -1;
}

.header-wrapper {
    display: flex;
    width: 100%;
    // min-height: 80rem;
    // background: red;
    justify-content: center;
    flex-direction: column;
}

.header-top,
.header-bottom {
    flex-basis: 100%;
    min-height: 30rem;
    // background: blue;
}


.header-top {
    margin-top: 9rem;
    // background: red;
}

.header-image {
    width: 100%;
    height: 50%;
    margin-left: 2.5rem;

    &__image {
        width: 100%;
        height: 100%;
    }
}

.header-bottom {
    padding: 0 2rem;
    // margin-top: -1rem;
    // background: red;

    &>p {
        font-size: 14px;
        margin-top: 1rem;
    }
}