.btn__primary {
    display: inline-block;
    margin: 1rem;
    background-color: $color-purple-light;
    box-shadow: .3rem .4rem 3rem rgba($color-black, .3);
    padding: 1rem 2rem;
    border-radius: 8px;
    color: $color-white;
    transition: all .5s ease;

    &:hover {
        background-color: rgba($color-white, .6);
        border-radius: 4px;
    }

    &--hover {
        background-color: $color-white;
        color: $color-pink;

        &:hover {
            background-color: $color-purple;
            color: $color-white;
            border-radius: 8px;
        }
    }

}