.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem;
  margin-top: 2rem;
  padding-top: 2rem;
  background-color: rgba(246, 220, 246, 0.393);
  border-radius: 1rem;
  margin: 2rem auto;
  min-height: 30rem;

  &--purple {
    background-color: rgba(194, 151, 244, 0.16);
  }

  &--green {
    background-color: rgba(230, 248, 243, 0.6);
  }

  &--blue {
    background-color: rgb(237, 250, 254);
  }
}

.card-top {
  width: 100%;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.card-bottom {
  font-size: 1.4rem;
  &__text {
    margin: 2rem 0;
    font-weight: 600;

    &--normal {
      font-weight: 400;
    }
  }

  &__subheading {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__replace {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  a {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    font-size: 1.5rem;
  }
}

.card-bottom-content a {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  font-size: 1.5rem;
}

.card-explain {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  &__text {
    font-size: 1.6rem;
  }

  &__paragraph {
    // margin-bottom: 2rem;
  }
}

.card-explain-icon {
  width: 8rem;
  // height: rem;
  background-color: $color-white;
  padding: 1.5rem;
  align-self: flex-start;
  margin-right: 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.145);

  &--widtheye {
    width: 6.6rem;
  }

  &--widthtrophy {
    width: 9rem;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}

.card-explain-text {
}
