.card-wrapper {
  display: flex;
  justify-content: center;
  padding: 5rem 3rem;
  margin-top: 2rem;
  padding-top: 2rem;
  background-color: rgba(246, 220, 246, 0.393);
  border-radius: 1rem;
  margin: 2rem auto;
  min-height: 30rem;
}
