.email-input {
  margin-top: 2.5rem;
  // background: red;
}

#email {
  width: 100%;
  padding: 1.8rem 0;
  display: block;
  border: 1px solid $color-grey;
  border-radius: 4px;
  transition: box-shadow 0.1s ease;

  &::placeholder {
    color: rgb(37, 35, 35);
    font-size: 1.6rem;
    padding-left: 2rem;
    font-weight: 500;
  }

  &:hover {
    box-shadow: 1px 1.5rem 2rem $color-grey;
  }
}

.form-cta {
  margin-top: 1.5rem;
}

.submit {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.submit__btn {
  padding: 1.5rem 2.8rem;
  border-radius: 1rem;
  font-weight: 800;
  border: 0;
  color: $color-white;
  background-color: $bg-color-purple;
  box-shadow: 1rem 1rem 5rem rgba($bg-color-purple, 0.5);
  transition: all 0.2s ease;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-purple-dark;
  }

  &:hover {
    background-color: $bg-color-purple-dark;
  }
}

.cta__text {
  flex-basis: 12rem;
  font-weight: 800;
  margin-left: 2rem;
  color: $color-grey;
  font-size: 1.4rem;
  text-transform: uppercase;
  align-items: center;
  margin-top: 1rem;
}
