/*nav as it is*/

.nav-bar {
    width: 100%;
    height: 8rem;
    background-color: transparent;
    box-shadow: 0 0 2rem $color-grey;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
}

.nav-logo {
    width: 15rem;
    height: 15rem;
    // background: red;
    align-self: center;
    position: relative;
    top: 2.5rem;

    &__image {
        width: 100%;
        height: 100%;
    }
}

.nav-icon {
    margin-right: 2rem;
    width: 4rem;
    height: 3rem;

    &__icon {
        width: 100%;
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

/************** 
    Nav functionality
************/

.nav-dropdown-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0rem;
    background-color: rgba($color-black, .1);
}

.nav-dropdown {
    width: 100%;
    height: 75vh;
    background-color: white;
    position: absolute;
    top: 0rem;
}


.nav-dropdown-nav {
    display: flex;
    // background: red;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-dropdown-logo {
    flex-basis: 15rem;
    height: 10rem;
    margin-left: 1rem;
    // background: blue;

    &__logo {
        width: 100%;
        height: 100%;
    }
}

.nav-dropdown-cancel {
    height: 3rem;
    width: 2rem;
    // background: pink;
    align-self: center;
    margin-right: 2.5rem;
    // margin-top: -2rem;

    &__icon {
        height: 100%;
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.nav-links {
    text-transform: capitalize;
    font-weight: 700;
    margin-left: 2.5rem;

}

.nav-links-list {
    list-style: none;
    font-size: 2rem;
    // line-height: 1.8;
}

.list-items {

    &:not(:last-of-type) {
        margin-bottom: 3rem;
    }

    &__links {
        color: $color-black;
    }
}

.cta {
    margin-left: 2.5rem;
    margin-right: 2rem;
    margin-top: 1.5rem;

    &__signup,
    &__login {
        display: block;
        text-align: center;
        padding: 1.4rem 0;
        border-radius: 1rem;
        font-weight: 800;
        border: 0;
    }

    &__signup {
        color: $color-white;
        background-color: $bg-color-purple;
        box-shadow: 1px 1px 5px rgba($color-black, .5);
        transition: all .2s ease;

        &:hover {
            background-color: $bg-color-purple-dark;
        }
    }

    &__login {
        margin-top: 1.5rem;
        background-color: $color-grey;
        cursor: progress;
    }

}