.support-wrapper {
  display: flex;
  flex-direction: column;
}

.support-icon {
  padding: 1.5rem;
  background-color: #9b51e0;
  border-radius: 1rem;
  box-shadow: -0.5rem 1rem 7rem 0.5rem #341550;
  width: 3rem;
  height: 3rem;
  margin-bottom: 2rem;
  &__icon {
    width: 100%;
    height: 100%;
  }
}

.support__title {
  margin-top: 4rem;
  color: #9b51e0;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.support__heading {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

.support__paragraph {
  font-size: 1.4rem;
  color: #292d34;
  padding-right: 7rem;
}

.support-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 1rem;
  }

  &__img {
    width: 1.6rem;
    display: inline-block;
    margin-right: 1rem;
  }
}

.support-image {
  margin-top: 5rem;
  width: 100%;

  &__img {
    width: 100%;
  }
}
