.heading__primary {
  color: $color-black;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.4;

  &--center {
    text-align: center;
  }
}

.heading__secondary {
  font-size: 1.4rem;
  color: $font-color-grey;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
