.section-brands {
  // min-height: 30rem;
  margin: 4rem 2rem 2rem;
  // background: $col;
}

.section-goals {
  // min-height: 30rem;
  margin: 4rem 2rem 2rem;
}

.section-whiteboards {
  // min-height: 30rem;
  margin: 4rem 2rem 2rem;
}

.section-customize {
  // min-height: 30rem;
  margin: 4rem 2rem 2rem;
}

.section-built {
  min-height: 30rem;
  margin: 4rem 2rem 2rem;
}
