.brand {
    margin-bottom: 5rem;
    // background: red;
    // width: 80rem;
}

.brand-wrapper {
    // background: pink;
}

.brand-wrapper__heading {
    font-size: 1.4rem;
    color: #7c828d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 2rem 0 1.5rem;
    // background: blue;
    // display: none;
}

.brand-photo {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    align-items: center;
    // display: none;

    &__image {
        margin-right: 3rem;

        &--1 {}

        &--2 {}

        &--3 {}

        &--4 {}

        &--5 {}
    }
}

.brand-photo-image {}